.tags {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.block {
  display: flex;
  min-height: 30px;
}

.tools {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  column-gap: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
