@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


.g-root {
    --g-font-family-monospace: 'Roboto Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Ubuntu Mono', 'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
}

.g-root_theme_light {
    --g-color-private-brand-50: rgb(255 92 92 / 0.1);
    --g-color-private-brand-100: rgb(255 92 92 / 0.15);
    --g-color-private-brand-150: rgb(255 92 92 / 0.2);
    --g-color-private-brand-200: rgb(255 92 92 / 0.3);
    --g-color-private-brand-250: rgb(255 92 92 / 0.4);
    --g-color-private-brand-300: rgb(255 92 92 / 0.5);
    --g-color-private-brand-350: rgb(255 92 92 / 0.6);
    --g-color-private-brand-400: rgb(255 92 92 / 0.7);
    --g-color-private-brand-450: rgb(255 92 92 / 0.8);
    --g-color-private-brand-500: rgb(255 92 92 / 0.9);
    --g-color-private-brand-550-solid: rgb(255 92 92);
    --g-color-private-brand-1000-solid: rgb(67 38 43);
    --g-color-private-brand-950-solid: rgb(78 42 46);
    --g-color-private-brand-900-solid: rgb(100 48 51);
    --g-color-private-brand-850-solid: rgb(122 54 57);
    --g-color-private-brand-800-solid: rgb(145 61 63);
    --g-color-private-brand-750-solid: rgb(167 67 69);
    --g-color-private-brand-700-solid: rgb(189 73 75);
    --g-color-private-brand-650-solid: rgb(211 79 80);
    --g-color-private-brand-600-solid: rgb(233 86 86);
    --g-color-private-brand-500-solid: rgb(255 108 108);
    --g-color-private-brand-450-solid: rgb(255 125 125);
    --g-color-private-brand-400-solid: rgb(255 141 141);
    --g-color-private-brand-350-solid: rgb(255 157 157);
    --g-color-private-brand-300-solid: rgb(255 174 174);
    --g-color-private-brand-250-solid: rgb(255 190 190);
    --g-color-private-brand-200-solid: rgb(255 206 206);
    --g-color-private-brand-150-solid: rgb(255 222 222);
    --g-color-private-brand-100-solid: rgb(255 231 231);
    --g-color-private-brand-50-solid: rgb(255 239 239);

    --g-color-text-brand: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgb(255 255 255);
    --g-color-text-link: var(--g-color-private-brand-600-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
    --g-color-base-selection: var(--g-color-private-brand-200);
    --g-color-base-selection-hover: var(--g-color-private-brand-300);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}

.g-root_theme_dark {
    --g-color-private-brand-50: rgb(255 92 92 / 0.1);
    --g-color-private-brand-100: rgb(255 92 92 / 0.15);
    --g-color-private-brand-150: rgb(255 92 92 / 0.2);
    --g-color-private-brand-200: rgb(255 92 92 / 0.3);
    --g-color-private-brand-250: rgb(255 92 92 / 0.4);
    --g-color-private-brand-300: rgb(255 92 92 / 0.5);
    --g-color-private-brand-350: rgb(255 92 92 / 0.6);
    --g-color-private-brand-400: rgb(255 92 92 / 0.7);
    --g-color-private-brand-450: rgb(255 92 92 / 0.8);
    --g-color-private-brand-500: rgb(255 92 92 / 0.9);
    --g-color-private-brand-550-solid: rgb(255 92 92);
    --g-color-private-brand-1000-solid: rgb(255 231 231);
    --g-color-private-brand-950-solid: rgb(255 222 222);
    --g-color-private-brand-900-solid: rgb(255 206 206);
    --g-color-private-brand-850-solid: rgb(255 190 190);
    --g-color-private-brand-800-solid: rgb(255 174 174);
    --g-color-private-brand-750-solid: rgb(255 157 157);
    --g-color-private-brand-700-solid: rgb(255 141 141);
    --g-color-private-brand-650-solid: rgb(255 125 125);
    --g-color-private-brand-600-solid: rgb(255 108 108);
    --g-color-private-brand-500-solid: rgb(233 86 86);
    --g-color-private-brand-450-solid: rgb(211 79 80);
    --g-color-private-brand-400-solid: rgb(189 73 75);
    --g-color-private-brand-350-solid: rgb(167 67 69);
    --g-color-private-brand-300-solid: rgb(145 61 63);
    --g-color-private-brand-250-solid: rgb(122 54 57);
    --g-color-private-brand-200-solid: rgb(100 48 51);
    --g-color-private-brand-150-solid: rgb(78 42 46);
    --g-color-private-brand-100-solid: rgb(67 38 43);
    --g-color-private-brand-50-solid: rgb(56 35 40);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: rgb(255 255 255);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(34 29 34);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);
}


/* body {
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
} */

.layout {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* overflow: auto; */
  margin: 0;
  padding: 0;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}
.gravity-ui-landing-layout__wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* overflow: auto; */
  margin: 0;
  padding: 0;
}
.container-fluid {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
}
.gn-action-bar-section {
  display: flex;
  flex-direction: column;
}
.gn-action-bar-section_type_primary {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.menu {
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 240px;
  min-height: 100px;
  padding: 20px;
}
.modal__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.modal__title_input {
  display: flex;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

